# This workflow runs the status monitoring check every 15 minutes
name: Run Status Monitoring Check

on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # every 10 mins
    - cron:  '0/10 * * * *'
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 21
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test || true
    - env:
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
      run: npm run status:update
